# delete latex aux files
*.aux 
*.out
*.log
*.bbl
*.blg
*.toc
*.synctex.gz
*.synctex(busy)
*.nav
*.snm

# python related files
__pycache__
*.pyc

# simple memos 
memo.txt

# batch file for windows
*.bat

# tmp files 
tmp*.py

# swap files 
*.swp

# too many images 
**/lecture\ 2/**/*.png

